*, *::after, *::before {
    box-sizing: border-box;
}

.modal-button {
    border-radius: 100%;
    border: 0;
    background-color: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .2);
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 1rem;
}

.modal-button:hover {
    color: white;
    background-color: rgb(207, 48, 48);
    transition:  500ms ease-in-out;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition:  500ms ease-in-out;
    z-index: 100;
    background-color: transparent;
    width: 600px;
    max-height: 80%;
    max-width: 80%;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}


.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 3px 3px 0px 0px;
    padding: 5px 0px 5px 10px;
}

.modal-header .title {
    color: white;
    font-size: 1.8rem;
    letter-spacing: .15rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    padding-left: 20px;
}

.modal-header .close-button {
    cursor: pointer;
    color: #bd271a;
    border: none;
    outline: none;
    background: none;
    font-size: 2.75rem;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
    font-weight: bold;
}

.modal-header .close-button:hover {
    color: white;
    background-color:#bd271a;
    transition:  500ms ease-in-out;
}

.modal-body {
    padding: 15px 35px 50px 35px;
    letter-spacing: .015rem;
    background-color: white;
    line-height: 1.5rem;
    font-family: Segoe UI, Frutiger, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}
.head {
    font-weight: bolder;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    background-color: #bd271a;
    color: white;
    text-align: center;
    padding: 5px 0 5px 0;
}
.list {
    padding-top: 0px;
    padding-bottom: 10px;
}
.list li {
    padding: 5px;
}


#overlay {
    position: fixed;
    opacity: 0;
    transition:  500ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}